.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  padding: 0 20px;
  padding-bottom: 80px;
  background-image: url('../../assets/images/bg.png');
}

.promo {
  font-size: 36px;
  line-height: 44px;
  color: $color-info;
  font-family: 'Exo2', sans-serif;
  font-weight: 100;
  text-align: center;
}
