@import '~normalize.css';
@import './assets/styles/colors.scss';
@import './assets/styles/fonts.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  font-family: 'Trebuchet MS', sans-serif;
}

p {
  margin: 0;
}

@import './components/Card/Card.scss';
@import './components/CardList/CardList.scss';
@import './components/App/App.scss';
